---
import { TextSection } from "@components/odyssey-theme";
import { aboutDetails } from "data/about";
import HeroSection from "../components/sections/heros/HeroSection.astro";
import Layout from "../layouts/Page.astro";
import Timeline from "@components/ui/Timeline.astro";

const seo = {
  title: "A propos | Le Café ADD",
  description: "A propos du café associatif de Droue sur Drouette",
};
---

<Layout {seo}>
  <HeroSection>
    <div slot="text-container">
      <h1>{aboutDetails.title}</h1>
      <p>
        {aboutDetails.description}
      </p>
    </div>
    <picture slot="image-container">
      <img
        src={aboutDetails.imgUrl}
        alt={aboutDetails.title}
        id="home-hero-image"
      />
    </picture>
  </HeroSection>

  <TextSection narrow>
    <Timeline items={aboutDetails.timelineItems} />
  </TextSection>
</Layout>
