---
import { Container } from '@components/odyssey-theme'
import { contactDetails } from 'data/contact'
import ContactForm from '../components/forms/ContactForm.astro'
import Layout from '../layouts/Page.astro'

const seo = {
  title: 'Contact | Astro Odyssey Theme',
  description: 'Contact Page',
}
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>{contactDetails.title}</h1>
				<p>
					{contactDetails.description}
				</p>
				<div>
					<p>
						<em>{contactDetails.address}</em>
						<br />
						<br />
						<em>
							<a href={`tel:${contactDetails.tel}`}>{contactDetails.tel}</a></em
						> • <em
							><a href={contactDetails.email}>{contactDetails.email}</a>
						</em>
					</p>
				</div>
			</div>
			<div class="col-2__container">
				<ContactForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
